.style {
 text-align: center;   
 background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1568485248766-95c658c848d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80');
 background-repeat: no-repeat;
 background-size: cover;
 height: 150vh;
}
/* body {
    background-color: olivedrab
}

img {
    width: 55%;
    display: inline-block;
    margin: auto;
} */
